.villager-bio {
    padding: 1rem;
    margin: 1rem;
    border-radius: 3px;
    border: 2px solid gray;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: aqua;
}
.villagers {
    display: flex;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}
button {
    border-radius: 16px;
    border: 1px solid black;
    background-color: #fff;
    padding: 8px 2px;
    width: 100%
}
button:hover {
    opacity: .8;
}