<section class="villagers">
    <!--Angular Div-->
    <!-- 
        For every villager in the villagers array, 
        call the app-villager-card component, passing in 
        the villager's data to the child.
    -->

    <div>
        <h2>Main Character</h2>
        <app-villager-card [villager]="mainCharacter"></app-villager-card>
    </div>

    <app-villager-card [villager]="villager" (deleted)="delete($event)"
        *ngFor="let villager of villagersService.villagers"></app-villager-card>

    <!--End Angular Div-->
</section>